
.triangulo1 {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 100px solid yellow;
  border-left: 50px solid transparent;

}

.triangulo2 {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 100px solid blue;
  border-left: 50px solid transparent;


}

.triangulo3 {
  width: 0;
  height: 0;
  border-right: 50px solid transparent;
  border-bottom: 100px solid red;
  border-left: 50px solid transparent;
}